<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
</head>
<body class="bg">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
        <div style="text-align:center;background-color:rgb(29, 170, 170);width:fit-content;margin-left:35vw;"> {{ message }} </div>
    {% endfor %}
    {% endif %}
    {% endwith %} 
    <h1 class="header">DIGITAL SLAMBOOK</h1><br><br>
    <div class="container">
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <div class="box">
        <label class="fl fontLabel"> {{ form.username.label}} </label><br>
        <div class="fr">
                {{ form.username(class="textbox") }}<br>
        </div>
        </div>
        {% if form.username.errors %}
                {% for error in form.username.errors %}
                        <div style="float:left;color:rgb(208, 195, 14);">{{ error }}</div><br>
                {% endfor %}
        {% endif %}
        <div class="box">
        <label class="fl fontLabel"> {{ form.email.label}} </label><br>
        <div class="fr">
                {{ form.email(class="textbox") }}<br>
        </div>
        </div>
        {% if form.email.errors %}
                {% for error in form.email.errors %}
                        <div style="float:left;color:rgb(208, 195, 14);">{{ error }}</div><br>
                {% endfor %}
        {% endif %}
        <div class="box">
                <label class="fl fontLabel"> {{ form.roll_number.label}} </label><br>
                <div class="fr">
                        {{ form.roll_number(class="textbox") }}
                </div>
        </div>
        {% if form.roll_number.errors %}
                        {% for error in form.roll_number.errors %}
                        <div style="float:left;color:rgb(208, 195, 14);">{{ error }}</div><br>
                        {% endfor %}
        {% endif %}
        <div class="box">
                <label class="fls fontLabel"> {{ form.department.label}} </label><br>
                {{ form.department(class="selectbox") }}
        </div>
        {% if form.department.errors %}
                        {% for error in form.department.errors %}
                        <div style="float:left;color:rgb(208, 195, 14);">{{ error }}</div><br>
                        {% endfor %}
        {% endif %}
        <div class="box">
                <label class="fl fontLabel"> {{ form.batch.label}} </label><br>
                <div class="fr">
                        {{ form.batch(class="textbox") }}
                </div>
        </div>
        {% if form.batch.errors %}
                        {% for error in form.batch.errors %}
                        <div style="float:left;color:rgb(208, 195, 14);">{{ error }}</div><br>
                        {% endfor %}
        {% endif %}
        <div class="box">
                <label class="fl fontLabel"> {{ form.password.label}} </label><br>
                <div class="fr">
                        {{ form.password(class="textbox") }}
                </div>
        </div>
        {% if form.password.errors %}
                        {% for error in form.password.errors %}
                        <div style="float:left;color:rgb(208, 195, 14);">{{ error }}</div><br>
                        {% endfor %}
        {% endif %}
        <div class="box">
                <label class="fl fontLabel"> {{ form.confirm_password.label}} </label><br>
                <div class="fr">
                        {{ form.confirm_password(class="textbox") }}
                </div>
        </div>
        {% if form.confirm_password.errors %}
                        {% for error in form.confirm_password.errors %}
                        <div style="float:left;color:rgb(208, 195, 14);">{{ error }}</div><br>
                        {% endfor %}
        {% endif %}
        <br><br>
        <div style="margin-top:10px;text-align:center;">{{ form.submit }}</div>
    </form>
    <br><br>
    </div>
</body>
</html>